{{ partial "head.html" . }}

  <!-- A list of pages -->
    <div class="container page-list">

      <section class="section">
        <div class="columns">
          <div class="column is-2">
          </div>
          <div class="column is-9 page-list-title">

            <a href="{{ .RelPermalink }}"><h1 class="is-size-3">{{ .Title }}</h1></a>
            <br>

            <div class="content">
              {{ .Content }}
            </div>

            <hr>

          </div>
        </div>
      </section>

      <section class="section page-list-body">
        <div class="columns">
          <div class="column is-1">
          </div>
          <div class="column is-10">
            <section class="section page-list-contents">

              {{ range ((where .Site.RegularPages.ByDate "Section" .Section).Reverse) }}
                {{ partial "primary-blurb.html" (dict "context" .) }}
              {{ end }}

            </section>

          </div>
        </div>
      </section>

    </div>
  <!-- End of list of pages -->

{{ partial "footer.html" . }}
