{{ partial "head.html" . }}

  <!-- A single primary page -->
    <article class="container page">

      <section class="section">
        <div class="columns">
          <div class="column is-one-fifth">
          </div>
          <div class="column is-three-fifths page-title">

            <a href="{{ .RelPermalink }}"><h1 class="is-size-3">{{ .Title }}</h1></a>

            <hr/>

          </div>
        </div>
      </section>

      <section class="section page-body">
        <div class="columns">
          <div class="column is-one-fifth">
             <div class="page-date is-size-5">

              {{ $date := .Date.Format (default "1 January 2006" .Site.Params.DateFormat) }}
              {{ $date }}
              {{ with .Params.updated }}
                {{ $updated := . | dateFormat "2 January 2006" }}
                </br>
                {{ if eq $date $updated }}
                {{ else }}
                  Updated: {{ $updated }}
                {{ end }}
              {{end}}
              
              <div class="page-tags">
              {{ range (.GetTerms "tags") }}
                <span class="page-tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>
              {{ end }}
              </div>

            </div>
          </div>
          <div class="column is-three-fifths">
            <div class="content page-text is-size-5">

              {{ if .Params.Toc }}
                <h1>Table of Contents</h1>
                <aside>
                  {{ .TableOfContents }}
                </aside>
                <hr/>
              {{ end }}
              {{ .Content }}

            </div>

            <hr/>
            <div class="page-comment">
              Do you like this, or do you have a comment? Then please <a href="https://twitter.com/share?text=Your+Message+Here&via=pacoispaco">share</a> or <a href="https://twitter.com/share?text=@pacoispaco+Your+Message+Here">reply</a> on Twitter, or <a href="mailto:paul.cohen@seibostudios.se?subject=Re: {{ .Title }} ">email me</a>.
            </div>
            <hr/>

          </div>
        </div>
      </article>

    </div>
  <!-- End of single primary page -->

{{ partial "footer.html" . }}
