<!--
  This is the HTML template for the About Me section on the home page.
-->

  <section id="about-me-section" class="section">
    <div class="container">
      <div class="columns">

<!--        <div class="column is-1">
</div>-->

        <div class="column">
          <section id="about-title" class="section">
            <!--            <h2 class="has-text-centered is-size-5">About me</h2>-->
            <hr/>
          </section>
          <section class="section">
            <div class="columns">

              <div class="column is-5">
                <div id="about-text">
                  I am Paul Cohen, and this is my personal website. I live in Stockholm, Sweden. I am also CTO at Feelgood, a partner at Seibo Software Studios, a software engineer by education and a tech lead, programmer and digital craftsman by trade, with a voracious and eclectic interest in science, culture and society. Oh, and birds too. Opinions are entirely my own and not the views of my employer.
                </div>
              </div>

              <div class="column is-2">
                <div id="about-photo">
                  <figure class="image is-128x128">
                    <img class="is-rounded" src="portrait.png">
                  </figure>
                </div>
              </div>

             <div class="column">
                <div id="about-i-support">
                  I believe openness and transparency are essential to our digital freedoms. Sharing and copying are signs of compassion and intelligence and are also vital to innovation and prosperity. I support and sponsor, and I think you should too, the <a href="https://www.fsf.org/">Free Software Foundation</a>, the <a href="https://www.eff.org/">Electronic Frontier Foundation</a>, the <a href="https://fsfe.org/">Free Software Foundation Europe</a> and <a href="https://wikimediafoundation.org/support/">Wikipedia and the Wikimedia Foundation</a>.
                </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
<!--        <div class="column is-1">
</div>-->

      </div>
    </div>

    <section id="contact-info" class="section">
      <div class="columns">

        <div class="column is-2">
        </div>

        <div class="column is-8">
          <p class="has-text-centered">
            <span class="contact-handle">
              <i class="fas fa-envelope is-size-6"></i> <a href="mailto:paul.cohen@seibostudios.se">Email</a>
            </span>
            <span class="contact-handle">
              <i class="fab fa-linkedin is-size-6"></i> <a href="https:///www.linkedin.com/in/ipaulcohen">LinkedIn</a>
            </span>
            <span class="contact-handle">
              <i class="fab fa-github is-size-6"></i> <a href="http://www.github.com/pacoispaco">GitHub</a>
            </span>
            <span class="contact-handle">
              <i class="fab fa-instagram is-size-6"></i> <a href="https://www.instagram.com/pacoispaco">Instagram</a>
            </span>
          </p>
        </div>
    </section>

  </section>

