<!--
  This is the HTML template for primary blurbs. It is used for listing the
  latest blog posts on the home page.
-->

  <section class="blog-post-blurb">
    <div class="columns">
      <div class="column is-one-third">
        <div class="blog-post-title is-size-5">
          <a href="{{ .context.RelPermalink }}">{{ .context.Title }}</a>
        </div>
        <div class="blog-post-date is-size-5">

          {{ $date := .context.Date.Format (default "1 January 2006" .context.Site.Params.DateFormat) }}
          {{ $date }}
          {{ with .context.Params.updated }}
            {{ $updated := . | dateFormat "2 January 2006" }}
            </br>
            {{ if eq $date $updated }}
            {{ else }}
              Updated: {{ $updated }}
            {{ end }}
          {{end}}

          <div class="page-tags">
          {{ range (.context.GetTerms "tags") }}
             <span class="page-tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></span>
           {{ end }}
          </div>

        </div>
      </div>
      <div class="column">
        <div class="blog-post-ingress is-size-5">
          {{ .context.Summary }}
          <div class="blog-post-ingress-read-more">
            <a class="is-pulled-right" href="{{ .context.RelPermalink }}">Read more <i class="fas fa-arrow-right is-size-7"></i></a>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </section>

