<!--
  This is the HTML template for secondary blurbs. It is used for listing the
  latest odds & ends on the home page.
-->

  <section class="odds-and-ends-blurb">
    <div class="columns">
      <div class="column is-one-third">
        <div class="odds-and-ends-title is-size-6">
          <a href="{{ .context.RelPermalink }}">{{ .context.Title }}</a>
        </div>
        <div class="odds-and-ends-date is-size-6">
          {{ .context.Date.Format (default "2 january 2006" .context.Site.Params.DateFormat) }}
        </div>
      </div>
      <div class="column">
        <div class="odds-and-ends-ingress is-size-6">
          {{ .context.Summary }}
          <div class="blog-post-ingress-read-more">
            <a class="is-pulled-right" href="{{ .context.RelPermalink }}">Read more <i class="fas fa-arrow-right is-size-7"></i></a>
          </div>
          <hr/>
        </div>
      </div>
    </div>
  </section>

