{{ partial "head.html" . }}

  <section class="section">
    <div class="container">

      <section class="section">
        <div class="columns">
          <div class="column is-one-fifth">
          </div>
          <div class="column is-three-fifths page-title">

            <h1 class="is-size-3">HTTP 404 NOT FOUND</h1>
            <hr/>

          </div>
        </div>
      </section>

      <section class="section content">
        <div class="columns">
          <div class="column is-one-fifth">
          </div>
          <div class="column is-three-fifths">

            <section class="Section">
              Sorry, there's no page at this URL. Either you misspelled the URL, or the page that existed at this URL has been removed.<p>
            </section>
            <hr/>

          </div>
        </div>
      </section>

    </div>
  </section>

{{ partial "footer.html" . }}
