/*
  This is the CSS file for the styling of paulcohen.se.

  It assumes that you have the following stylesheet links in your HTML files.

  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
*/

/* ===== Styling of links ===== */

section > a:hover {
  text-decoration: underline;
}

a:focus, a:hover {
  text-decoration: underline;
  color: #3273dc;
}

/* ===== Styling of audio player ===== */
audio {
  width: 100%;
}

/* ===== Styling of primary blurbs ===== */

.blog-post-blurb {
  font-family: Alegreya;
}

.blog-post-title {
  font-weight: bold;
  text-align: right;
}

.blog-post-date {
  font-style: italic;
  text-align: right;
}

.blog-post-ingress-read-more {
  overflow: hidden;
}

/* ===== Styling of secondary blurbs ===== */

.odds-and-ends-blurb {
  font-family: Alegreya;
}

.odds-and-ends-title {
  font-weight: bold;
  text-align: right;
}

.odds-and-ends-date {
  font-style: italic;
  text-align: right;
}

/* ===== Styling of about me section ===== */

#about-me-section * {
 font-family: Alegreya;
 padding-top: 0px;
}

#about-me-section {
 padding-bottom: 30px;
}

#about-title > h2 {
  font-family: "Alegreya SC";
}

#about-photo > figure {
  margin-left: auto;
  margin-right: auto;
}

#contact-info {
  margin-top: 10px
}

.contact-handle a {
  margin-left: 2px;
  margin-right: 10px;
}

/* ===== Make sure the contact handles are block elements for smaller displays ===== */

@media screen and (max-width: 600px) {
  .contact-handle {
    display: block;
  }
}

/* ===== Styling of single pages ===== */

.page * {
  font-family: "Alegreya";
}

.page code {
  font-family: Monospace;
  font-size: 15px;
}

.page code span {
  font-family: Monospace;
  font-size: 15px;
}

.page pre {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-title * {
  font-weight: bold;
}

.page-date {
  font-style: italic;
  text-align: right;
}

.page-text h1 {
  font-size: 1.25em;
}

.page-text h2 {
  font-size: 1.05em;
}

.page-text img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.language-python {
  font-family: "Ubuntu Mono";
}

.language-python * {
  font-family: "Ubuntu Mono";
}

.page-tags {
}

.page-tag {
  background-color: #e3e3e3; /* #c8c8c8 */
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-left: 3px;
  display:inline-block;
  border-radius: 3px;
}

.page-tag a {
  font-family: ubuntu;
  font-style: normal;
  font-size: small;
}

/* ===== Styling of page lists ===== */

.page-list * {
  font-family: "Alegreya";
}

.page-list-title h1 {
  font-weight: bold;
}

.page-list-body {
  padding-left: 0px;
  padding-right: 0px;
}

/* ===== Styling of Taxonomy list and Term pages ===== */

.taxonomy-text {
  padding-bottom: 50px;
}

.term-text {
  padding-bottom: 50px;
}

.page-title .page-tag {
  font-family: ubuntu;
  font-style: normal;
  font-weight: normal;
}

/* ===== Styling of Bulma navigation bar ===== */

#navbar {
  background-color: #3F3250;
  color: #dbd1e7;
}

#navbar-brand {
  margin-left: 13px;
}

.navbar-menu {
  background-color: #3F3250;
}

.navbar-item {
  font-family: Ubuntu;
  color: #c8c8c8;
}

.navbar-item .icon:only-child {
  margin-right: 1px;
}

a.navbar-item:hover {
/*  color: #dbd1e7;*/
  color: #c8c8c8;
  background-color: #3F3250;
}

a.navbar-item:active {
  color: #0404ff;
}

a.navbar-burger.burger {
  color: #dbd1e7;
}

a.navbar-burger.burger:is-active {
  color: #dbd1e7;
}

/* ===== Styling of Bulma footer ===== */

.footer {
  background-color: #3F3250;
  color: #dbd1e7;
  padding: 20px;
}

.footer a {
  color: #98b9ed;
}

/* ===== Styling of other Bulma elements ===== */

h2 {
  font-family: "Alegreya SC";
  font-weight: bold;
}

.section {
  padding-top: 20px;
  padding-bottom: 2px;
}

.content {
  font-family: Ubuntu;
}

.section {
  font-family: Ubuntu;
}

/* ===== Styling of Katex generated stuff ===== */

span.katex {
  font: normal 1.0em KaTeX_Main, Times New Roman, serif;
}

/* ===== Styling of Xeno-Canto shortcode ===== */

.xeno-canto > iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
