/*
  This is the CSS file for the styling of paulcohen.se.

  It assumes that you have the following stylesheet links in your HTML files.

  <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
*/
i
/* ===== Styling of links ===== */

section > a:hover {
  text-decoration: underline;
}

a:focus, a:hover {
  text-decoration: underline;
  color: #3273dc;
}

/* ===== Styling of primary blurbs ===== */

.blog-post-blurb {
  font-family: Alegreya;
}

.blog-post-title {
  font-weight: bold;
  text-align: right;
}

.blog-post-date {
  font-style: italic;
  text-align: right;
}

.blog-post-ingress-read-more {
  overflow: hidden;
}

/* ===== Styling of secondary blurbs ===== */

.odds-and-ends-blurb {
  font-family: Alegreya;
}

.odds-and-ends-title {
  font-weight: bold;
  text-align: right;
}

.odds-and-ends-date {
  font-style: italic;
  text-align: right;
}

/* ===== Styling of about me section ===== */

#about-me-section * {
 font-family: Alegreya;
 padding-top: 0px;
}

#about-me-section {
 padding-bottom: 50px;
}

#about-title > h2 {
  font-family: "Alegreya SC";
}

#about-photo > figure {
  margin-left: auto;
  margin-right: auto;
}

/* ===== Styling of single pages ===== */

.page * {
  font-family: "Alegreya";
}

.page-title * {
  font-weight: bold;
}

.page-date {
  font-style: italic;
  text-align: right;
}

.page-text h1 {
  font-size: 1.25em;
}

.page-text img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.language-python {
  font-family: "Ubuntu Mono";
}

.language-python * {
  font-family: "Ubuntu Mono";
}

/* ===== Styling of page lists ===== */

.page-list * {
  font-family: "Alegreya";
}

.page-list-title h1 {
  font-weight: bold;
}

.page-list-body {
  padding-left: 0px;
  padding-right: 0px;
}

/* ===== Styling of Bulma navigation bar ===== */

#navbar {
  background-color: #3F3250;
  color: #dbd1e7;
}

#navbar-brand {
  margin-left: 13px;
}

.navbar-menu {
  background-color: #3F3250;
}

.navbar-item {
  font-family: Ubuntu;
  color: #c8c8c8;
}

.navbar-item .icon:only-child {
  margin-right: 1px;
}

a.navbar-item:hover {
/*  color: #dbd1e7;*/
  color: #c8c8c8;
  background-color: #3F3250;
}

a.navbar-item:active {
  color: #0404ff;
}

a.navbar-burger.burger {
  color: #dbd1e7;
}

a.navbar-burger.burger:is-active {
  color: #dbd1e7;
}

/* ===== Styling of Bulma footer ===== */

.footer {
  background-color: #3F3250;
  color: #dbd1e7;
  padding: 20px;
}

.footer a {
  color: #98b9ed;
}

/* ===== Styling of other Bulma elements ===== */

h2 {
  font-family: "Alegreya SC";
  font-weight: bold;
}

.section {
  padding-top: 20px;
  padding-bottom: 2px;
}

.content {
  font-family: Ubuntu;
}

.section {
  font-family: Ubuntu;
}
